{
    "tabWidth": 2,
    "singleQuote": true,
    "prefer-regex-literals": false,
    "overrides": [
        {
            "files": ["*.json", "*.md", "*.yaml", "*.yml"],
            "options": { "tabWidth": 2, "singleQuote": false }
        }
    ]
}
